<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Airline</th>
      <th>Flight Number</th>
      <th>Departs</th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(function(f) { %>
      <tr>
        <td><%= f.airline %></td>
        <td><%= f.flightNumber %></td>
        <td><%= f.departs %></td>
        <td><%= f.arrives %></td>
        <td><%= f.airport %></td>
        <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
    
  </table>
  
<%- include('../partials/footers') %>
