<%- include('../partials/header') %>

<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNumber %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
    <div>Arrives: </div>
    <div><%= flight.arrives %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
</section>

<h2>Destination for Your Flight <%= flight.flightNo%></h2>
<form id="add-destination-form" method="POST" 
  action="/flights/<%= flight._id %>/destinations">
  <label>Destination:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DAL">DAL</option>
    <option value="LAX">LAX</option>
    <option value="SEA">SEA</option>
  </select>
  
  <label>Arrival:</label>
    <input type="datetime-local" name="arrival">
  <br>
    <input class="button" type="submit" value="Add Destination">
</form>

<button class="button" id="addTicket" value="New Ticket">New Ticket</button>
<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Airport</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(d) { %>
        <tr>
          <td><%= d.airport %></td>
          <td><%= d.arrival %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
    <h5>You're not going anywhere!</h5>
  <% } %>


  <% if(ticket.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% ticket.forEach(function(t) { %>
        <tr>
          <td><% t.seat %></td>
          <td><% t.price %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No tickets here!</h5>
  <% } %>

  <p>
    <a id="add" href="/flights/<%= flight._id %>/tickets/new" value="Add Ticket">Add Ticket</a>
  </p>

<%- include('../partials/footers') %>