<%- include('../partials/header') %>

<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNumber %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
    <div>Arrives: </div>
    <div><%= flight.arrives %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
</section>


<%- include('../partials/footers') %>